@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}
.bg-primary{
	background: black;
}
.container{
	padding: 20px;
	width: 1140px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}
.padding-4{
	padding: 4px;
}
.padding1{
	padding-top: 140px;
}
.padding2{
	padding-top: 20px;
}
.padding3{
	padding-top: 10px;
}
.padding5{
	padding-top: 10px;
	padding-left: 1000px;
}
.padding6{
	padding-left: 1000px;
	padding-top: 158px;
}
.padding7{
	padding: 0px 130px;
}
